

<mat-card>
    <mat-card-header>
      <h1>Crypto Data</h1>
    </mat-card-header>
    <mat-card-content>
        <div class="chart-container">
            <div *ngIf="currentCoin" class="line-chart">
              <ngx-charts-line-chart
                [results]="results"
                [autoScale]="autoScale"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [timeline]="timeline"
                >
              </ngx-charts-line-chart>
            </div>
        </div>
    </mat-card-content>
  </mat-card>